body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main-container {
    max-width: 550px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid #DFDDDD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */

.header {
    position: relative;
    background-image: url('../img/header-img.jpg');
    background-size: cover;
    background-position: 0% 20%;
    color: whitesmoke;
    background-color: #404040;
    background-blend-mode: overlay;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.header h4 {
    font-size: .875rem;
}

.header h4 a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 2rem;
    }

    .header {
        padding: 3.5em 2em;
    }

    .links {
        flex-direction: column;
        gap: 2em;
        justify-content: space-between;
    }
}

.search-bar {
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 7.5%;
    width: 85%;
    transform: translateY(50%);
}

.search-bar i {
    color: #9CA3AF;
    margin: 0 .75em;
    width: 5%;
}

#search-input {
    width: 70%;
    border: none;
    outline: none;
    color: #6B7280;
    font-size: 1rem;
    height: 100%;
}

#search-btn {
    width: 25%;
    padding: .25em 1em;
    background-color: #F9FAFB;
    color: #374151;
    text-align: center;
    border-left: 1px solid#D1D5DB;
    cursor: pointer;
}

.search-bar i,
#search-input,
#search-btn {
    padding: .5em 0;
}

/* main content */

.main-content {
    padding: 2em;
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-placeholder {
    text-align: center;
}

.data-placeholder i {
    font-size: 4.375rem;
}

.data-placeholder p {
    font-weight: 700;
}

.data-placeholder i,
.data-placeholder p {
    color: #DFDDDD;
}


/* film box */

.film-container {
    padding: 2em 0;
    border-bottom: 1.5px solid #E5E7EB;
}

@media (max-width: 500px) {
    .film-container {
        padding: 1em 0;
    }
}

.film-container:last-child {
    border: 0;
}

.result-film {
    display: flex;
    align-items: center;
    gap: 1em;
}

.film-img {
    max-width: 100px;
}

.film-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em 0;
}

.film-title {
    display: flex;
    gap: 2em;
    font-size: .75rem;
    font-weight: 400;
}

.result-film h3 {
    font-weight: 500;
    font-size: 1.125rem;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: .5em;
}

.film-details {
    display: flex;
    gap: 2em;
    font-size: .75rem;
}

@media (max-width: 500px) {
    .film-details {
        flex-direction: column;
        gap: .5em;
    }

    .film-title {
        gap: 1em;
    }

    .result-film h3 {
        font-size: .9rem;
    }
}

.icon {
    height: 15px;
}

.film-plot {
    font-size: 0.875rem;
    color: #6B7280;
}


/* watchlist placeholder */

.link-placeholder img {
    height: 18px;
}

.link-placeholder p {
    color: #363636;
    display: inline;
    font-size: 0.875rem;
}

.link-placeholder {
    text-decoration: none;
}

.link-placeholder {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

/* footer */

footer {
    width: 100%;
    background-color: #DFDDDD;
    font-size: 0.75rem;
    color: #374151;
    text-align: center;
    padding: .5em;
}

footer a {
    color: #9CA3AF;
    text-decoration: none;
}